In [1]:
import pandas as pd
from faker import Faker
import random

In [2]:
fake = Faker()

In [3]:
def generate_fake_data(num_records):
    menu_categories = {
        'Pizza': ['Margherita Pizza', 'Pepperoni Pizza', 'Vegetarian Pizza', 'Supreme Pizza', 'BBQ Chicken Pizza'],
        'Burger': ['Classic Cheeseburger', 'Mushroom Swiss Burger', 'BBQ Burger', 'Jalapeno Burger', 'Double Patty Burger'],
        'Sandwich': ['BLT Sandwich', 'Chicken Sandwich', 'Club Sandwich', 'Turkey Avocado Sandwich', 'Steak Sandwich'],
        'Pasta': ['Spaghetti Bolognese', 'Fettuccine Alfredo', 'Penne Arrabiata', 'Lasagna', 'Carbonara'],
        'Side': ['French Fries', 'Onion Rings', 'Garlic Bread', 'Coleslaw', 'Mozzarella Sticks']
        }
    dataset = []
    chosen_items = {category: [] for category in menu_categories}
    while len(dataset) < num_records:
        menu_category = random.choice(list(menu_categories.keys()))
        available_items = [item for item in menu_categories[menu_category] if item not in chosen_items[menu_category]]
        if not available_items:
            continue
        num_to_choose = min(num_records - len(dataset), len(available_items))
        chosen_items_list = random.sample(available_items, num_to_choose)
        for menu_item in chosen_items_list:
            chosen_items[menu_category].append(menu_item)
            cost = 0
            price = 0
            number_sold = random.randint(5, 60)
            if menu_category == 'Pizza':
                cost = round(random.uniform(1.50, 3.00), 2)
                price = random.randint(8, 14)
            elif menu_category == 'Burger':
                cost = round(random.uniform(1.50, 2.50), 2)
                price = random.randint(7, 11)
            elif menu_category == 'Sandwich':
                cost = round(random.uniform(2, 4), 2)
                price = random.randint(5, 8)
            elif menu_category == 'Pasta':
                cost = round(random.uniform(2, 5), 2)
                price = random.randint(9, 15)
            elif menu_category == 'Side':
                cost = round(random.uniform(0.50, 2.00), 2)
                price = random.randint(3, 5)
            
            contribution_margin = price - cost
            
            record = {
                'menu_category': menu_category,
                'menu_item': menu_item,
                'price': price,
                'cost': cost,
                'number_sold': number_sold
            }
            dataset.append(record)
            
    return dataset

In [4]:
# Generate 20 fake records
fake_data = generate_fake_data(25)

In [5]:
# Create a Pandas DataFrame from the fake data
df = pd.DataFrame(fake_data)

In [6]:
# Print the DataFrame
df

   menu_category                menu_item  price  cost  number_sold
0           Side        Mozzarella Sticks      3  1.83           30
1           Side             French Fries      4  0.95           55
2           Side             Garlic Bread      5  0.56           60
3           Side                 Coleslaw      5  0.92           37
4           Side              Onion Rings      5  0.69           57
5       Sandwich             BLT Sandwich      7  2.67           57
6       Sandwich            Club Sandwich      6  3.70           35
7       Sandwich           Steak Sandwich      8  2.29           55
8       Sandwich  Turkey Avocado Sandwich      8  3.40           51
9       Sandwich         Chicken Sandwich      5  2.17           41
10        Burger               BBQ Burger      8  2.26           53
11        Burger          Jalapeno Burger     10  2.46           22
12        Burger      Double Patty Burger     11  2.47           44
13        Burger    Mushroom Swiss Burger      7  2.16           10
14        Burger     Classic Cheeseburger      9  2.04           18
15         Pasta                Carbonara     13  2.17           20
16         Pasta                  Lasagna     13  4.04           48
17         Pasta      Spaghetti Bolognese     10  2.44           30
18         Pasta       Fettuccine Alfredo     13  3.42           13
19         Pasta          Penne Arrabiata     13  2.42           59
20         Pizza            Supreme Pizza     14  1.94           43
21         Pizza        BBQ Chicken Pizza      9  1.84           22
22         Pizza         Vegetarian Pizza     12  2.26           47
23         Pizza         Margherita Pizza     12  1.62           21
24         Pizza          Pepperoni Pizza     14  2.66           15

In [7]:
# Write to an excel 
# df.to_excel('../data/menu_data.xlsx', index=False)

# Table Viz

In [8]:
import pandas as pd
import plotly.graph_objects as go

# Example data

df = pd.DataFrame(data)

# Group by Menu Category and Category, and aggregate the menu items as a list
grouped_df = df.groupby(['Menu Category', 'Category'])['Item Name'].apply(list).reset_index()

# Create the table using Plotly graph objects
fig = go.Figure(data=[go.Table(
    header=dict(values=['Menu Category'] + list(grouped_df['Category'].unique())),
    cells=dict(values=[grouped_df['Menu Category']] + [grouped_df[grouped_df['Category'] == cat]['Item Name'] for cat in grouped_df['Category'].unique()])
)])

# Set the table layout using the plotly_white template
fig.update_layout(template='plotly_white')

# Adjust the column width
fig.update_layout(
    autosize=False,
    width=800,  # Increase the width as desired
    height=400  # Adjust the height as needed
)

# Display the table
fig.show()

NameError: name 'data' is not defined